<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Project Details'" [items]="['Projects']" [active_item]="'Project Details'">
      </app-breadcrumb>
    </div>
    <div class="row" *ngIf="project">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="header">
            <h2>Project Details</h2>
          </div>
          <div class="body">
            <div class="wrapper wrapper-content animated fadeInUp">
              <div class="ibox">
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="m-b-md">
                        <!--  <p class="col-blue cursor-pointer pull-right">Edit
                                                    project</p> -->
                        <h3 class="project-name">{{ project.Projectname }}</h3>
                      </div>
                      <dl>
                        <dt class="pull-left me-2">Status:</dt>
                        <dd>
                          <span _ngcontent-isv-c222="" class="project-bedge2 project-type-Testing">
                            <div _ngcontent-isv-c222="" class="pro-left">
                              {{ project.status }}
                            </div>
                          </span>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <dl class="dl-horizontal">
                        <dt class="pull-left me-2">Client :</dt>
                        <dd>{{ project.client.fullName }}</dd>
                        <dt class="pull-left me-2">TeamLeader:</dt>
                        <dd *ngIf="project.TeamLeader">
                          {{ project.TeamLeader.fullName }}
                        </dd>
                        <dd *ngIf="!project.TeamLeader">Not Assigned yet</dd>
                        <!--   <dt class=" pull-left me-2 ">Commits:</dt>
                                                <dd> 175</dd> -->
                        <!-- <dt class="pull-left me-2 ">Version:</dt>
                                                <dd> v2.5.2 </dd> -->
                        <dt class="pull-left me-2">Project Progress:</dt>
                        <dd>
                          <div class="progress progress-xs mt-3">
                            <mat-progress-bar mode="determinate " value="{{ project.progress.toFixed(0) }} ">
                            </mat-progress-bar>
                          </div>
                        </dd>
                        <small><strong>{{ project.progress.toFixed(0)}}%</strong> of the Project completed.</small>

                      </dl>

                    </div>
                    <div class="col-lg-5" id="cluster_info ">
                      <dl class="dl-horizontal">
                        <dt class="pull-left me-2">StartDate:</dt>
                        <dd>{{ project.dateDebut | date : "mediumDate" }}</dd>
                        <dt class="pull-left me-2">Deadline:</dt>
                        <dd>{{ project.dateFin | date : "mediumDate" }}</dd>
                        <dt class="pull-left me-2">Team:</dt>
                        <dd class="project-people">
                          <ul class="list-unstyled order-list">
                            <li *ngFor="let t of project.equipe" class="avatar avatar-sm">
                              <img [src]="t.image || 'avaat.png'" matTooltip="{{ t.fullName }}" class="rounded-circle"
                                alt="team-member " />
                            </li>
                          </ul>
                        </dd>
                        <dd class="project-people" *ngIf="project.equipe.length == 0">
                          Not assigned yet
                        </dd>
                        <dt class="pull-left me-2">Note :</dt>
                        <dd>{{ note }}</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div style="height: 600px;overflow-y: scroll;">
                      <div class="col-lg-12">
                        <div class="project-activity">
                          <mat-tab-group>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                  mark_email_unread
                                </mat-icon>
                                Reclamations
                              </ng-template>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="tab-pane active">
                                  <div class="feed-activity-list">
                                    <div class="feed-element" *ngFor="let item of projectReclamation">
                                      <div class="pull-left">
                                        <img alt="image " class="rounded-circle avatar avatar-sm"
                                          src="https://pma-backend.prologic.com.tn:3002/static/images/{{item.client.image}} " />
                                      </div>
                                      <div class="media-body">
                                        <strong>{{item.client.fullName}}</strong>send reclamation for project :
                                        <strong>{{ item.project.Projectname }}</strong>reclamation type is
                                        <strong>{{ item.Type_Reclamation }}</strong><br />
                                        <small class="text-muted">{{item.Addeddate | date:'mediumDate'}}</small>
                                        <div class="well" style="background-color:#0e3f5b ;color: rgb(215, 215, 215);">

                                          <strong>Code : </strong>{{item.CodeRec}}<br />
                                          <strong>Claim note : </strong>{{ item.Comment }}
                                        </div>
                                        <div class="well" style="background-color:#0c85bd ;color: rgb(215, 215, 215);">
                                          <strong>Reply : </strong>{{ item.reponse }}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="feed-element text-center" *ngIf="projectReclamation.length===0">
                                      No claims found in project: {{project.Projectname}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                  local_activity
                                </mat-icon>
                                Tasks
                              </ng-template>
                              <div style="display: flex;justify-content: end;padding: 10px 0;gap:5px">
                                <select class="year-select" (change)="handleDateSort($event)">
                                  <option value="">Date sort</option>
                                  <option value="1">Oldest</option>
                                  <option value="-1">Latest</option>
                                </select>
                                <select class="year-select" (change)="handleStatusSelect($event)">
                                  <option value="">Select Status</option>
                                  <option value="null">All</option>
                                  <option value="Pending">Pending</option>
                                  <option value="Closed">Closed</option>
                                  <option value="Open">Open</option>
                                </select>
                              </div>

                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Executor</th>
                                    <th>Created Date</th>
                                    <th>Deadline</th>
                                    <th>Priority</th>
                                    <th>Details</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of projectTasks">
                                    <td>{{ item.Title }}</td>
                                    <td>
                                      <ul class="list-unstyled order-list">
                                        <li *ngFor=" let x of item.Executor" class="avatar avatar-sm">
                                          <img src="{{imagesUrl}}/{{x.image || 'avaat.png'}}"
                                            matTooltip="{{ x.fullName }}" class="rounded-circle"
                                            alt="executors-member" />
                                        </li>
                                      </ul>
                                    </td>
                                    <td>{{ item.StartDate | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ item.Deadline | date: 'dd/MM/yyyy' }}</td>
                                    <td>
                                      {{ item.Priority }}
                                    </td>
                                    <td>
                                      <p class="small">
                                        {{ item.Details }}
                                      </p>
                                    </td>
                                    <td *ngIf="item.Status == 'Closed'">
                                      <span class="label label-success">
                                        {{ item.Status }}</span>
                                    </td>
                                    <td *ngIf="item.Status == 'Open'">
                                      <span class="label label-danger">
                                        {{ item.Status }}</span>
                                    </td>
                                    <td *ngIf="item.Status == 'Pending'">
                                      <span class="label label-warning">
                                        {{ item.Status }}</span>
                                    </td>
                                  </tr>

                                  <tr *ngIf="projectTasks === 'undefined'">
                                    <p>No Task found</p>
                                  </tr>
                                </tbody>
                              </table>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                  local_activity
                                </mat-icon>
                                Risques
                              </ng-template>

                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Action</th>
                                    <th>Impact</th>
                                    <th>User</th>

                                    <th>Date</th>
                                    <th>Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of projectRisks">
                                    <td>{{ item.title }}</td>
                                    <td>
                                      {{ item.action }}
                                    </td>
                                    <td *ngIf="item.impact == 'Low'">
                                      <span class="label label-success">
                                        {{ item.impact }}</span>
                                    </td>
                                    <td *ngIf="item.impact == 'Medium'">
                                      <span class="label label-warning">
                                        {{ item.impact }}</span>
                                    </td>
                                    <td *ngIf="item.impact == 'High'">
                                      <span class="label label-danger">
                                        {{ item.impact }}</span>
                                    </td>

                                    <td>
                                      {{ item.user.fullName }}
                                    </td>
                                    <td>
                                      {{ item.date | date: 'MM/dd/yyyy HH:mm'}}
                                    </td>
                                    <td>
                                      <p class="small">
                                        {{ item.details }}
                                      </p>
                                    </td>
                                  </tr>

                                  <!-- <tr *ngIf="projectRisks.length=== 0">
                                    <p>No Risks found</p>
                                  </tr> -->
                                </tbody>
                                
                              </table>
                              <div class="feed-element text-center" *ngIf="projectRisks.length=== 0">
                                No Risks found in project: {{project.Projectname}}
                              </div>
                            </mat-tab>
                            
                          </mat-tab-group>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Project description</div>
              <p>
                {{ project.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Client Details</div>
              <div class="project-info-box">
                <p><b>Client name:</b> {{ project.client.fullName }}</p>
                <p><b>Company:</b>{{ project.client.company }}</p>
                <p><b>Email:</b> {{ project.client.email }}</p>
                <p><b>Phone:</b>{{ project.client.phone }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Project files</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.file)" class="mb-1">
                    {{ project.file }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="card">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Appreciation lettre</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'" *ngIf="project.lettre">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.lettre)" class="mb-1">
                    {{ project.lettre }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.kickoff">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Kick off</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.kickoff)" class="mb-1">
                    {{ project.kickoff }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.kickoff,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.HLD_LLD">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">HLD LLD</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.HLD_LLD)" class="mb-1">
                    {{ project.HLD_LLD }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.HLD_LLD,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.build_book">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Build Book</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.build_book)" class="mb-1">
                    {{ project.build_book }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.build_book,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.access_document">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Access Document</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.access_document)" class="mb-1">
                    {{ project.access_document }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.access_document,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.other">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Other document</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.other)" class="mb-1">
                    {{ project.other }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.other,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- addddddd -->
        <div class="card" *ngIf="project.other1">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Additional document 1</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.other1)" class="mb-1">
                    {{ project.other1 }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.other1,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.other2">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Additional document 3</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.other2)" class="mb-1">
                    {{ project.other2 }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.other2,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="project.other3">
          <div class="body">
            <div class="wrapper">
              <div class="project-card-header">Additional document 3</div>
              <div class="d-flex mb-2" [style.cursor]="'pointer'">
                <div class="project-doc-icon text-center">
                  <i class="far fa-file-pdf col-red"></i>
                </div>
                <div class="content ms-3">
                  <p (click)="download(project.other3)" class="mb-1">
                    {{ project.other3 }}
                  </p>
                  <i class="far fa-share-square" (click)="sendToModal(project.other3,project.Projectname)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>