<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'My Tasks'" [items]="['Home']" [active_item]="'My Tasks'">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="tbl-title">
                                                <h2>My Tasks {{tasks.length}}</h2>
                                            </li>
                                            <li class="tbl-search-box">
                                                <select class="form-select form-control" (change)="handleProjectSelect($event)">
                                                    <option value="">All projects</option>
                                                    <option *ngFor="let item of projects" [value]="item._id">{{ item.Projectname | ShortPipe }}</option>
                                                </select>
                                                <!-- <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Search" type="text" #filter class="browser-default search-field" aria-label="Search box" (keyup)="applyfilter($event)" (focus)="setupFilter('Title','Project','Executor')"> -->
                                            </li>
                                            <!--  <li class="tbl-header-btn">
                                                <div class="m-l-10" matTooltip="ADD">
                                                    <button mat-mini-fab color="primary" (click)="addNew()">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li> -->
                                            <li class="tbl-header-btn">
                                                <div class="m-l-10" matTooltip="REFRESH">
                                                    <button mat-mini-fab color="primary" (click)="refresh()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li class="tbl-header-btn">
                                                <div class="m-l-10" matTooltip="Show my tasks in kanban">
                                                    <button mat-mini-fab color="accent" (click)="kanban()">
                                                        <mat-icon class="col-white">dashboard
                                                        </mat-icon>

                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <div class="row header" style="justify-content: space-between">
                                            <!-- <div class="col-2"> <h2>Tasks {{tasks.length}}</h2></div> -->
                                            <div class="col-2"> <mat-spinner *ngIf="loading" style="width: 30px; height: 30px;"></mat-spinner></div>
                                            <div class="col-10"> 
                                                <!-- <select class="form-select form-control" (change)="handleProjectSelect($event)">
                                                    <option value="">All projects</option>
                                                    <option *ngFor="let item of projects" [value]="item._id">{{ item.Projectname | ShortPipe }}</option>
                                                </select> -->
                                            </div>
                                        </div>
                                        <!-- <ul class="tbl-export-btn">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exporter.exportTable('xlsx', {fileName:'assets-list', sheet: 'sheet1'})" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="CSV">
                                                    <img src="assets/images/icons/csv.png" alt="" (click)="exporter.exportTable('csv')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="JSON">
                                                    <img src="assets/images/icons/json.png" alt="" (click)="exporter.exportTable('json')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="TXT">
                                                    <img src="assets/images/icons/txt.png" alt="" (click)="exporter.exportTable('txt')" />
                                                </div>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell" #exporter="matTableExporter">
                                <!-- Checkbox Column -->

                                <!-- ID Column -->

                                <ng-container matColumnDef="Title">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Task Title</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Title}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="project">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Project.Projectname|ShortPipe}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="progress">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Progress</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <mat-progress-bar mode="determinate" value="{{ row.progress }}" style="width: 80%;" matTooltip="{{row.progress}}%">
                                        </mat-progress-bar>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row">
                                        <div *ngIf="row.Status=='Open'">
                                            <span class="badge badge-solid-orange">
                                                {{row.Status}}</span>
                                        </div>
                                        <div *ngIf="row.Status=='Closed'">
                                            <span class="badge badge-solid-green">
                                                {{row.Status}}</span>
                                        </div>
                                        <div *ngIf="row.Status=='Pending'">
                                            <span class="badge badge-solid-red">
                                              {{row.Status}}</span>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="priority">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Priority
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row">
                                        <div *ngIf="row.Priority=='Low'">
                                            <span class="badge badge-pill badge-primary col-green">
                                                {{row.Priority}}</span>
                                        </div>
                                        <div *ngIf="row.Priority=='Medium'">
                                            <span class="badge badge-pill badge-primary col-blue">
                                                {{row.Priority}}</span>
                                        </div>
                                        <div *ngIf="row.Priority=='High'">
                                            <span class="badge badge-pill badge-primary col-red">
                                                {{row.Priority}}</span>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <!-- <ng-container matColumnDef="type">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Type}}</mat-cell>
                                </ng-container> -->
                                <ng-container matColumnDef="startdate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.StartDate | date: 'MM/dd/yyyy HH:mm'}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="deadline">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Deadline | date: 'MM/dd/yyyy HH:mm'}}</mat-cell>
                                </ng-container>

                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="editCall(row)" class="tbl-action-btn" matTooltip="Edit">
                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                            </app-feather-icons>
                                        </button>

                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detailsCall(row)" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>