<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Dashboard '" [items]="['Home']" [active_item]="'Dashboard'"></app-breadcrumb>
        </div>


        <div class="row" *ngIf="myProjects">
            <div class="col-lg-4 col-sm-6">
                <div class="info-box7 bg-c-purple order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">New Tasks</h4>
                        <h2 class="text-end"><span class="float-start">{{nb_pending}}</span><i class="fas fa-ticket-alt"></i></h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="info-box7 bg-c-green order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">tasks Closed</h4>
                        <h2 class="text-end"><span class="float-start">{{nb_closed}}</span><i class="far fa-check-circle"></i></h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="info-box7 bg-c-orange order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Project Assigned</h4>
                        <h2 class="text-end"><span class="float-start">{{myProjects.length}}</span><i class="fas fa-briefcase"></i></h2>
                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Widgets -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card" style="height: 600px;">
                    <div class="row header" style="justify-content: space-between">
                        <div class="col-2"> <h2>Tasks {{tasks.length}}</h2></div>
                        <div class="col-2"> <mat-spinner *ngIf="loading" style="width: 30px; height: 30px;"></mat-spinner></div>
                        <div class="col-8"> 
                            <select class="form-select form-control" (change)="handleProjectSelect($event)">
                                <option value="">All projects</option>
                                <option *ngFor="let item of myProjects" [value]="item._id">{{ item.Projectname | ShortPipe }}</option>
                            </select>
                        </div>
                    </div>
                    <ng-scrollbar style="height: 600px" visibility="hover">
                    <div class="tableBody">
                        <div class="responsive_table">
                            <table class="table table-hover dashboard-task-infos text-center">
                                <thead>
                                    <tr>
                                        <th>Task title</th>
                                        <th>Status</th>
                                        <th>Project</th>
                                        <th>Executor</th>
                                        <!-- <th>Progress</th> -->
                                        <th>Start Date</th>
                                        <th>Deadline</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr *ngFor="let item of tasks">
                                        <td>{{item.Title}}</td>
                                        <td>
                                            <div *ngIf=" item.Status=='Open' ">
                                                <span class="badge badge-solid-orange ">
                                                    {{item.Status}}</span>
                                            </div>
                                            <div *ngIf="item.Status=='Closed' ">
                                                <span class="badge badge-solid-green ">
                                                    {{item.Status}}</span>
                                            </div>
                                            <div *ngIf="item.Status=='Pending' ">
                                                <span class="badge badge-solid-red ">
                                                    {{item.Status}}</span>
                                            </div>
                                        </td>
                                        <td>{{item.Project.Projectname}}</td>
                                        <td>
                                            <ul class="list-unstyled order-list">
                                                <li *ngFor=" let x of item.Executor" class="avatar avatar-sm">
                                                <img src="https://pma-backend.prologic.com.tn:3002/static/images/{{x.image || 'avaat.png'}}"
                                                    matTooltip="{{ x.fullName }}"
                                                    class="rounded-circle"
                                                    alt="executors-member"/>
                                                </li>
                                            </ul>
                                        </td>
                                        <!-- <td>
                                            <div class="progress shadow-style ">
                                                <div class="progress-bar l-bg-green  " [ngClass]="progress(item)" role="progressbar " aria-valuenow="{{item.progress}} " aria-valuemin="0 " aria-valuemax="100 " matTooltip="{{item.progress}}"></div>
                                            </div>
                                        </td> -->
                                        <td>
                                            {{item.StartDate |date: 'MM/dd/yyyy'}}
                                        </td>
                                        <td>
                                            {{item.Deadline| date: 'MM/dd/yyyy'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-scrollbar>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="card" style="height: 600px;">
                    <div class="header">
                        <h2> Project Progress</h2>
                    </div>
                    <ng-scrollbar style="height: 600px" visibility="hover">
                        <div class="body" *ngIf="radialChartOptions">
                            <apx-chart [series]="radialChartOptions.radialseries" [chart]="radialChartOptions.chart" [plotOptions]="radialChartOptions.plotOptions" [labels]="radialChartOptions.labels"></apx-chart>
                            <div class="text-center p-t-20">
                                <div class="chart-note msr-0" *ngFor="let item of radialChartOptions.labels;let i=index">
                                    <span class="dot" [ngClass]="getColor(i)"></span>
                                    <span>{{item}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-scrollbar>
                </div>
            </div>
        </div>
        <!-- <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                <div class="card ">
                    <div class="header ">
                        <h2>Ticket Status</h2>
                    </div>
                    <div class="body ">
                        <div id="chart ">
                            <apx-chart [series]="gaugeChartOptions.series2 " [chart]="gaugeChartOptions.chart " [plotOptions]="gaugeChartOptions.plotOptions " [labels]="gaugeChartOptions.labels " [fill]="gaugeChartOptions.fill " [stroke]="gaugeChartOptions.stroke "></apx-chart>
                        </div>
                        <div class="m-t-40 mb-2 ">
                            <div class="row text-center ">
                                <div class="col-4 border-right ">
                                    <h4 class="m-b-0 ">67%</h4>
                                    <span class="font-14 text-muted ">New Ticket</span>
                                </div>
                                <div class="col-4 border-right ">
                                    <h4 class="m-b-0 ">33%</h4>
                                    <span class="font-14 text-muted ">Repeat Ticket</span>
                                </div>
                                <div class="col-4 ">
                                    <h4 class="m-b-0 ">1 Day</h4>
                                    <span class="font-14 text-muted ">Duration</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                <div class="card ">
                    <div class="header ">
                        <h2>Ticket Resolved</h2>
                    </div>
                    <div class="body ">
                        <apx-chart [series]="stackBarChart.series " [chart]="stackBarChart.chart " [dataLabels]="stackBarChart.dataLabels " [plotOptions]="stackBarChart.plotOptions " [grid]="stackBarChart.grid " [responsive]="stackBarChart.responsive
                                                " [xaxis]="stackBarChart.xaxis " [legend]="stackBarChart.legend " [fill]="stackBarChart.fill "></apx-chart>
                        <div class="row text-center ml-0 msr-0 pb-3 ">
                            <div class="col-6 border-right ">
                                <div class="h4 fw-bold mb-0 ">30%</div><span class="small text-gray ">Last week</span>
                            </div>
                            <div class="col-6 ">
                                <div class="h4 fw-bold mb-0 ">70%</div><span class="small text-gray ">Last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</section>